name: example

defaults:
  destination: data.csv
  reader: 
    name: read_csv
    args: # pass arguments to function
      col_names: true
  writer: 
    name: write_csv
  merge_by: 
    name: bind_rows

data: 
  iris:
    source: examples/iris.csv
    pipeline: 
      preprocess:
        -
          source: Sepal.Length
          destination: length
          steps: 
            -
              name: round
              args:
                digits: 0
        -
          source: Sepal.Width
          destination: width
          steps: 
            -
              name: round
              args:
                digits: 0
            -
              name: as.character
        - 
          source:
            - length
            - width
          destination: length_width
          steps:
            - 
              eval: paste(data_source$length, data_source$width)
    
  mtcars:
    source: examples/mtcars.csv
    pipeline: []
