name: example

defaults:
  destination: data.csv
  reader: 
    name: read_csv
    args: # pass arguments to function
      col_names: true
  writer: 
    name: write_csv
  merge_by: 
    name: bind_rows

data: 
  iris:
    source: examples/iris.csv
    pipeline: 
      preprocess:
        -
          source: Sepal.Length
          destination: col_1
          steps: 
            -
              name: round
              args:
                digits: 1
        -
          source: Sepal.Width
          destination: col_2
          steps: 
            -
              name: floor
            -
              name: as.character
        - 
          source:
            - col_1
            - col_2
          destination: col_3
          steps:
            - 
              eval: paste(data_source$col_1, data_source$col_2)

      map:
        - 
          source: col_1
        - 
          source: col_2
        -
          source: col_3

      postprocess:
        -
          source: col_1
          steps: 
            -
              name: ceiling
        -
          destination: data_source
          steps:
            -
              eval: rep("iris", nrow(df))

    
  mtcars:
    source: examples/mtcars.csv
    pipeline: 
      preprocess:
        -
          source: mpg
          destination: col_1
          steps: 
            -
              eval: 2 * data_source

        -
          source: disp
          destination: col_2
          steps: 
            -
              name: floor
            -
              name: as.character
        - 
          source:
            - col_1
            - col_2
          destination: col_3
          steps:
            - 
              eval: paste(data_source$col_1, data_source$col_2)

      map:
        - 
          source: col_1
        - 
          source: col_2
        -
          source: col_3
          
      postprocess:
        -
          source: col_1
          steps: 
            -
              name: round
        -
          destination: data_source
          steps:
            -
              eval: rep("mtcars", nrow(df))
